/* screen - about-us */

.about-us {
    align-items: flex-end;
    background-color: var(--white-2);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 1117px;
    padding: 74px 87px;
    width: 1728px;
  }
  
  .about-us .flex-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 525px;
    width: 1529px;
  }
  
  .about-us .flex-row {
    align-items: flex-start;
    display: flex;
    height: 217px;
    min-width: 1529px;
  }
  
  .about-us .flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 217px;
    width: 1340px;
  }
  
  .about-us .overlap-group6 {
    align-items: flex-start;
    background-image: url(../img/header-2@1x.png);
    background-size: 100% 100%;
    display: flex;
    height: 108px;
    min-width: 1340px;
    padding: 23px 189px;
  }
  
  .about-us .place {
    color: var(--black);
    cursor: pointer;
    font-family: var(--font-family-poppins);
    font-size: 35px;
    font-weight: 400;
    height: 53px;
    letter-spacing: 0;
    text-align: center;
    width: 220px;
  }
  
  .about-us .about-us-1 {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxxl);
    font-weight: 600;
    letter-spacing: 0;
    margin-left: 177px;
    margin-top: 57px;
    min-height: 52px;
    text-align: center;
    width: 283px;
  }
  
  .about-us .button-join-container {
    height: 63px;
    margin-left: 16px;
    margin-top: 16px;
    position: relative;
    width: 173px;
  }
  
  .about-us .button-join {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 63px;
    left: 0;
    min-width: 173px;
    position: absolute;
    top: 0;
  }
  
  .about-us .overlap-group {
    height: 64px;
    margin-top: -1px;
    position: relative;
    width: 170px;
  }
  
  .about-us .rectangle-1 {
    background-color: var(--razzmatazz);
    border: 1px solid;
    border-color: var(--white);
    border-radius: 10px;
    height: 61px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 169px;
  }
  
  .about-us .log-in {
    -webkit-text-stroke: 1px var(--white);
    height: 61px;
    left: 1px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 169px;
  }
  
  .about-us .overlap-group-1 {
    height: 64px;
    margin-top: -1px;
    position: relative;
    width: 173px;
  }
  
  .about-us .button-join-1 {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 63px;
    left: 0;
    min-width: 173px;
    position: absolute;
    top: 1px;
  }
  
  .about-us .rockola-is-a-free-mu {
    letter-spacing: 0;
    margin-left: 72.0px;
    margin-top: 20px;
    min-height: 288px;
    width: 1223px;
  }
  
  .about-us .span1 {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 600;
  }
  
  .about-us .flex-row-1 {
    align-items: flex-start;
    display: flex;
    height: 381px;
    margin-right: 23px;
    margin-top: 51px;
    min-width: 1139px;
  }
  
  .about-us .flex-col-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 374px;
    width: 846px;
  }
  
  .about-us .flex-row-2 {
    align-items: flex-start;
    display: flex;
    height: 292px;
    min-width: 846px;
  }
  
  .about-us .flex-col-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 292px;
    width: 564px;
  }
  
  .about-us .flex-row-3 {
    align-items: flex-start;
    display: flex;
    min-width: 490px;
  }
  
  .about-us .rectangle-7 {
    height: 211px;
    object-fit: cover;
    width: 186px;
  }
  
  .about-us .rectangle-8 {
    height: 211px;
    margin-left: 133px;
    object-fit: cover;
    width: 171px;
  }
  
  .about-us .flex-row-4 {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    height: 74px;
    margin-top: 7px;
    min-width: 550px;
  }
  
  .about-us .name {
    letter-spacing: 0;
    min-height: 67px;
    text-align: center;
    width: 199px;
  }
  
  .about-us .johel-montoya-developer {
    align-self: flex-end;
    letter-spacing: 0;
    margin-left: 68px;
    min-height: 66px;
    text-align: center;
    width: 283px;
  }
  
  .about-us .overlap-group4 {
    height: 278px;
    margin-left: 12px;
    position: relative;
    width: 270px;
  }
  
  .about-us .rectangle-9 {
    height: 253px;
    left: 42px;
    position: absolute;
    top: 0;
    width: 184px;
  }
  
  .about-us .paulina-gualtero-developer {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 226px;
    width: 270px;
  }
  
  .about-us .footer {
    align-items: flex-start;
    display: flex;
    height: 31px;
    margin-left: 7.0px;
    margin-top: 51px;
    min-width: 573px;
  }
  
  .about-us .about-us-2 {
    cursor: pointer;
    letter-spacing: 0;
    min-height: 30px;
    min-width: 90px;
    text-align: center;
  }
  
  .about-us .place-1 {
    align-self: flex-end;
    cursor: pointer;
    letter-spacing: 0;
    margin-left: 65px;
    min-height: 30px;
    min-width: 82px;
  }
  
  .about-us .instagram {
    align-self: flex-end;
    letter-spacing: 0;
    margin-left: 67px;
    min-height: 30px;
    min-width: 105px;
  }
  
  .about-us .facebook {
    letter-spacing: 0;
    margin-left: 58px;
    min-height: 30px;
  }
  
  .about-us .rectangle-6 {
    align-self: flex-end;
    height: 121px;
    margin-left: 126px;
    mix-blend-mode: darken;
    width: 167px;
  }
  