/* screen - contact */

.contact {
    align-items: flex-start;
    background-color: var(--white-2);
    border: 1px none;
    display: flex;
    height: 1117px;
    padding: 64px 77px;
    width: 1728px;
  }
  
  .contact .header {
    height: 164px;
    margin-left: 61px;
    width: 215px;
  }
  
  .contact .flex-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 79px;
    margin-top: 30px;
    min-height: 919px;
    width: 999px;
  }
  
  .contact .overlap-group {
    align-items: center;
    background-color: #ffc01e2e;
    display: flex;
    flex-direction: column;
    min-height: 876px;
    padding: 39px 43px;
    width: 999px;
  }
  
  .contact .contact-us {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: 50px;
    font-weight: 800;
    height: 76px;
    letter-spacing: 0;
    margin-right: 69.0px;
    text-align: center;
    width: 400px;
  }
  
  .contact .cant-find-the-solut {
    height: 74px;
    letter-spacing: 0;
    margin-right: 69.0px;
    margin-top: 62px;
    text-align: center;
    width: 722px;
  }
  
  .contact .instagram-send-us-a {
    height: 304px;
    letter-spacing: 0;
    margin-right: 1.0px;
    margin-top: 109px;
    min-width: 878px;
  }
  
  .contact .write-your-message-here {
    align-self: flex-start;
    letter-spacing: 0;
    margin-top: 43px;
    min-height: 24px;
    text-align: center;
    width: 370px;
  }
  
  .contact .message {
    background-color: var(--black-2);
    border: 4px solid;
    border-color: var(--coconut);
    border-radius: 20px;
    height: 62px;
    margin-right: 4.0px;
    margin-top: 17px;
    width: 881px;
  }
  
  .contact .footer {
    align-items: flex-start;
    display: flex;
    height: 31px;
    margin-right: 24.0px;
    margin-top: 12px;
    min-width: 573px;
  }
  
  .contact .about-us {
    cursor: pointer;
    letter-spacing: 0;
    min-height: 30px;
    min-width: 90px;
    text-align: center;
  }
  
  .contact .place {
    align-self: flex-end;
    cursor: pointer;
    letter-spacing: 0;
    margin-left: 65px;
    min-height: 30px;
    min-width: 82px;
  }
  
  .contact .instagram {
    align-self: flex-end;
    letter-spacing: 0;
    margin-left: 67px;
    min-height: 30px;
    min-width: 105px;
  }
  
  .contact .facebook {
    letter-spacing: 0;
    margin-left: 58px;
    min-height: 30px;
  }
  
  .contact .flex-col-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    min-height: 962px;
    width: 220px;
  }
  
  .contact .place-1 {
    cursor: pointer;
    height: 53px;
    letter-spacing: 0;
    text-align: center;
    width: 220px;
  }
  
  .contact .rectangle-6 {
    height: 121px;
    margin-right: 1.0px;
    margin-top: 788px;
    mix-blend-mode: darken;
    width: 167px;
  }
  