/* screen - discover-page */

.discover-page {
    align-items: center;
    background-color: var(--white-2);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 1120px;
    overflow: hidden;
    padding: 54.0px 0;
    width: 1742px;
  }
  
  .discover-page .flex-row {
    align-items: center;
    display: flex;
    margin-right: 50.0px;
    margin-top: 14px;
    min-width: 1538px;
  }
  
  .discover-page .header {
    height: 108px;
    width: 1340px;
  }
  
  .discover-page .button-join {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 63px;
    margin-bottom: 13.0px;
    margin-left: 25px;
    min-width: 173px;
  }
  
  .discover-page .overlap-group2 {
    height: 64px;
    margin-top: -1px;
    position: relative;
    width: 170px;
  }
  
  .discover-page .rectangle-1 {
    background-color: var(--razzmatazz);
    border: 1px solid;
    border-color: var(--white);
    border-radius: 10px;
    height: 61px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 169px;
  }
  
  .discover-page .log-in {
    -webkit-text-stroke: 1px var(--white);
    height: 61px;
    left: 1px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 169px;
  }
  
  .discover-page .flex-row-1 {
    align-items: flex-start;
    display: flex;
    height: 458px;
    margin-right: 128.0px;
    margin-top: 135px;
    min-width: 1402px;
  }
  
  .discover-page .flex-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 402px;
    width: 845px;
  }
  
  .discover-page .feel-the-music {
    color: var(--pelorous);
    font-family: var(--font-family-poppins);
    font-size: 64px;
    font-weight: 600;
    letter-spacing: 0;
    min-height: 129px;
    text-align: center;
    width: 845px;
  }
  
  .discover-page .flex-row-2 {
    align-items: flex-start;
    display: flex;
    height: 93px;
    margin-right: 72.27px;
    margin-top: 64px;
    min-width: 519px;
  }
  
  .discover-page .blurbird-logo-3 {
    height: 77px;
    object-fit: cover;
    width: 71px;
  }
  
  .discover-page .group-1 {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    margin-left: 4px;
    min-width: 444px;
  }
  
  .discover-page .overlap-group {
    align-items: flex-end;
    background-color: var(--lightning-yellow);
    border-radius: 20px;
    display: flex;
    height: 73px;
    min-width: 196px;
    padding: 14.3px 33.6px;
  }
  
  .discover-page .genres {
    cursor: pointer;
    letter-spacing: 0;
    min-height: 44px;
    text-align: center;
    width: 129px;
  }
  
  .discover-page .overlap-group1 {
    align-items: flex-end;
    background-color: var(--lightning-yellow);
    border-radius: 20px;
    display: flex;
    height: 73px;
    justify-content: flex-end;
    margin-left: 48px;
    min-width: 196px;
    padding: 14.0px 38.4px;
  }
  
  .discover-page .songs {
    cursor: pointer;
    letter-spacing: 0;
    min-height: 44px;
    text-align: center;
    width: 118px;
  }
  
  .discover-page .be-the-first-to-list {
    color: var(--pelorous);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-weight: 400;
    letter-spacing: 0;
    margin-right: 1.0px;
    margin-top: 80px;
    min-height: 36px;
    min-width: 694px;
    text-align: center;
  }
  
  .discover-page .music-titles {
    align-self: flex-end;
    height: 453px;
    margin-left: 82px;
    object-fit: cover;
    width: 475px;
  }
  
  .discover-page .flex-row-3 {
    align-items: center;
    align-self: flex-end;
    display: flex;
    height: 168px;
    margin-right: -137.0px;
    margin-top: 129px;
    min-width: 1331px;
  }
  
  .discover-page .footer {
    align-items: flex-start;
    display: flex;
    height: 31px;
    margin-top: 47.0px;
    min-width: 573px;
  }
  
  .discover-page .about-us {
    cursor: pointer;
    letter-spacing: 0;
    min-height: 30px;
    min-width: 90px;
    text-align: center;
  }
  
  .discover-page .place {
    align-self: flex-end;
    cursor: pointer;
    letter-spacing: 0;
    margin-left: 65px;
    min-height: 30px;
    min-width: 82px;
  }
  
  .discover-page .instagram {
    align-self: flex-end;
    letter-spacing: 0;
    margin-left: 67px;
    min-height: 30px;
    min-width: 105px;
  }
  
  .discover-page .facebook {
    letter-spacing: 0;
    margin-left: 58px;
    min-height: 30px;
  }
  
  .discover-page .flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 394px;
    min-height: 168px;
    width: 364px;
  }
  
  .discover-page .copy-right {
    align-self: flex-end;
    letter-spacing: 0;
    min-height: 26px;
    text-align: center;
    transform: rotate(-90.00deg);
    width: 294px;
  }
  
  .discover-page .overlap-group3 {
    align-items: flex-start;
    background-image: url(../img/rectangle-6@2x.png);
    background-size: 100% 100%;
    display: flex;
    margin-top: 21px;
    min-width: 167px;
  }
  
  .discover-page .rectangle-6 {
    height: 121px;
    mix-blend-mode: darken;
    width: 167px;
  }
  