/* screen - home-page */

.home-page {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  min-height: 1113px;
  min-width: 1742px;
  width: 100%;
}

.home-page .landing-page {
  background-color: var(--white-2);
  border: 1px none;
  height: 1113px;
  min-width: 1742px;
  overflow: hidden;
}

.home-page .overlap-group1 {
  height: 1113px;
  left: -6px;
  position: relative;
  width: 1748px;
}

.home-page .background-image {
  height: 1113px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1742px;
}

.home-page .feel-the-music {
  -webkit-text-stroke: 1px var(--white);
  color: var(--lightning-yellow);
  font-family: var(--font-family-poppins);
  font-size: 100px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  mix-blend-mode: hard-light;
  position: absolute;
  text-align: center;
  text-shadow: 0px 4px 4px #00000040;
  top: 349px;
  width: 963px;
}

.home-page .stream-over {
  left: 45px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 523px;
  width: 832px;
}

.home-page .span1 {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 600;
}

.home-page .button-join {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 81px;
  left: 333px;
  min-width: 267px;
  position: absolute;
  top: 681px;
}

.home-page .overlap-group {
  height: 82px;
  margin-left: -1px;
  margin-top: -1px;
  position: relative;
  width: 266px;
}

.home-page .rectangle-1 {
  background-color: var(--lightning-yellow);
  border: 1px solid;
  border-color: var(--white);
  border-radius: 10px;
  height: 81px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 265px;
}

.home-page .join-now {
  -webkit-text-stroke: 1px var(--white);
  height: 81px;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 265px;
}

.home-page .header {
  align-items: center;
  display: flex;
  height: 100px;
  left: 79px;
  min-width: 408px;
  position: absolute;
  top: 81px;
}

.home-page .logo-container {
  height: 100px;
  position: relative;
  width: 216px;
}

.home-page .logo {
  height: 100px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.home-page .logo-text {
  color: var(--coconut);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 800;
  height: 63px;
  left: 16px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 201px;
}

.home-page .discover {
  color: var(--coconut);
  cursor: pointer;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 45px;
  margin-top: 7.02px;
  min-height: 43px;
  text-align: center;
  width: 145px;
}

.home-page .footer {
  align-items: flex-start;
  display: flex;
  height: 28px;
  left: 201px;
  min-width: 562px;
  position: absolute;
  top: 1030px;
}

.home-page .about-us {
  color: transparent;
  cursor: pointer;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  min-height: 28px;
  text-align: center;
  width: 90px;
}

.home-page .span1-1 {
  color: var(--white-2);
}

.home-page .place {
  cursor: pointer;
  letter-spacing: 0;
  margin-left: 56px;
  min-height: 28px;
  width: 82px;
}

.home-page .instagram {
  letter-spacing: 0;
  margin-left: 64px;
  min-height: 28px;
  width: 105px;
}

.home-page .facebook {
  letter-spacing: 0;
  margin-left: 59px;
  min-height: 28px;
  width: 98px;
}

.home-page .rectangle-5 {
  height: 119px;
  left: 1525px;
  mix-blend-mode: color-burn;
  position: absolute;
  top: 954px;
  width: 167px;
}

.home-page .sign-in-log-in {
  color: var(--coconut);
  cursor: pointer;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 495px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 112px;
  width: 209px;
}