/* screen - log-in-page */

.log-in-page {
    align-items: flex-start;
    background-color: var(--white-2);
    border: 1px none;
    display: flex;
    height: 1117px;
    overflow: hidden;
    padding: 75px 0;
    width: 1728px;
  }
  
  .log-in-page .checkbox {
    height: 35px;
    margin-left: -1136px;
    margin-top: 529px;
    width: 35px;
  }
  
  .log-in-page .flex-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 1724px;
    margin-top: 34px;
    min-height: 919px;
    width: 579px;
  }
  
  .log-in-page .header {
    height: 168px;
    margin-right: 17.0px;
    width: 236px;
  }
  
  .log-in-page .sing-in-frame {
    align-items: flex-end;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 13.0px;
    margin-top: 24px;
    min-height: 232px;
    width: 426px;
  }
  
  .log-in-page .overlap-group {
    height: 114px;
    position: relative;
    width: 426px;
  }
  
  .log-in-page .e-mail {
    left: 0;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 161px;
  }
  
  .log-in-page .password-holder {
    background-color: var(--black-2);
    border: 4px solid;
    border-color: var(--coconut);
    border-radius: 20px;
    height: 62px;
    left: 11px;
    position: absolute;
    top: 52px;
    width: 415px;
  }
  
  .log-in-page .overlap-group1 {
    height: 99px;
    margin-top: 19px;
    position: relative;
    width: 415px;
  }
  
  .log-in-page .password {
    left: 10px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 140px;
  }
  
  .log-in-page .e-mail-holder {
    background-color: var(--black-2);
    border: 4px solid;
    border-color: var(--coconut);
    border-radius: 20px;
    height: 61px;
    left: 0;
    position: absolute;
    top: 38px;
    width: 415px;
  }
  
  .log-in-page .remember-me {
    align-items: flex-start;
    border: 1px none;
    display: flex;
    height: 32px;
    margin-right: 97.0px;
    margin-top: 31px;
    min-width: 236px;
  }
  
  .log-in-page .remember-me-1 {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    font-weight: 400;
    letter-spacing: 0;
    margin-top: -1px;
    min-height: 32px;
    text-align: center;
    width: 236px;
  }
  
  .log-in-page .button-join {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    margin-right: 11.0px;
    margin-top: 45px;
    min-width: 234px;
  }
  
  .log-in-page .overlap-group2 {
    align-items: flex-start;
    background-color: var(--lightning-yellow);
    border-radius: 10px;
    display: flex;
    min-width: 232px;
  }
  
  .log-in-page .log-in {
    height: 70px;
    letter-spacing: 0;
    text-align: center;
    width: 232px;
  }
  
  .log-in-page .line-8 {
    align-self: flex-start;
    height: 1px;
    margin-top: 52px;
    width: 560px;
  }
  
  .log-in-page .dont-you-have-an-account {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xl);
    font-weight: 500;
    height: 60px;
    letter-spacing: 0;
    margin-left: 9.0px;
    margin-top: 22px;
    text-align: center;
    width: 448px;
  }
  
  .log-in-page .button-join-1 {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    margin-top: 24px;
    min-width: 439px;
  }
  
  .log-in-page .overlap-group3 {
    height: 70px;
    position: relative;
    width: 437px;
  }
  
  .log-in-page .rectangle-1 {
    background-color: var(--black-2);
    border: 1px none;
    border-radius: 10px;
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 437px;
  }
  
  .log-in-page .sign-up-for-rockola {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: 28px;
    font-weight: 400;
    height: 70px;
    left: 11px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 416px;
  }
  
  .log-in-page .footer-container {
    height: 31px;
    margin-left: 6.0px;
    margin-top: 57px;
    position: relative;
    width: 573px;
  }
  
  .log-in-page .footer {
    align-items: flex-start;
    display: flex;
    height: 31px;
    left: 0;
    min-width: 573px;
    position: absolute;
    top: 0;
  }
  
  .log-in-page .about-us {
    cursor: pointer;
    letter-spacing: 0;
    min-height: 30px;
    min-width: 90px;
    text-align: center;
  }
  
  .log-in-page .place {
    align-self: flex-end;
    cursor: pointer;
    letter-spacing: 0;
    margin-left: 65px;
    min-height: 30px;
    min-width: 82px;
  }
  
  .log-in-page .instagram {
    align-self: flex-end;
    letter-spacing: 0;
    margin-left: 67px;
    min-height: 30px;
    min-width: 105px;
  }
  
  .log-in-page .facebook {
    letter-spacing: 0;
    margin-left: 58px;
    min-height: 30px;
  }
  
  .log-in-page .flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 164px;
    margin-top: 21px;
    min-height: 946px;
    width: 258px;
  }
  
  .log-in-page .place-1 {
    cursor: pointer;
    height: 53px;
    letter-spacing: 0;
    text-align: center;
    width: 220px;
  }
  
  .log-in-page .rectangle-6 {
    align-self: flex-end;
    height: 121px;
    margin-top: 772px;
    mix-blend-mode: darken;
    width: 167px;
  }
  