/* screen - sing-up-page */

.sing-up-page {
    align-items: flex-end;
    background-color: var(--white-2);
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 1119px;
    overflow: hidden;
    width: 1734px;
  }
  
  .sing-up-page .background-image-2 {
    height: 984px;
    margin-right: -483px;
    margin-top: -2263px;
    object-fit: cover;
    width: 1749px;
  }
  
  .sing-up-page .flex-row {
    align-items: flex-start;
    display: flex;
    height: 1019px;
    margin-right: -138.0px;
    margin-top: 1335px;
    min-width: 1415px;
  }
  
  .sing-up-page .flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 989px;
    width: 804px;
  }
  
  .sing-up-page .flex-row-1 {
    align-items: flex-start;
    display: flex;
    height: 888px;
    min-width: 652px;
  }
  
  .sing-up-page .sign-in {
    color: var(--white-2);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    letter-spacing: 0;
    margin-top: 13px;
    min-height: 48px;
    min-width: 106px;
    text-align: center;
  }
  
  .sing-up-page .flex-col-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    min-height: 888px;
    width: 506px;
  }
  
  .sing-up-page .over-container {
    height: 100px;
    margin-right: 1.0px;
    position: relative;
    width: 283px;
  }
  
  .sing-up-page .discover {
    color: var(--white-2);
    cursor: pointer;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxl);
    font-weight: 400;
    left: 146px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 28px;
    width: 137px;
  }
  
  .sing-up-page .logo-container {
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 209px;
  }
  
  .sing-up-page .logo {
    height: 100px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100px;
  }
  
  .sing-up-page .logo-text {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxxl);
    font-weight: 800;
    height: 62px;
    left: 34px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 18px;
    width: 175px;
  }
  
  .sing-up-page .sign-up-to-start-listening-for-free {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxxl);
    font-weight: 800;
    letter-spacing: 0;
    margin-right: 1.0px;
    margin-top: 59px;
    min-height: 132px;
    text-align: center;
    width: 483px;
  }
  
  .sing-up-page .sing-in-frame {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-left: 1.0px;
    margin-top: 1px;
    min-height: 329px;
    width: 415px;
  }
  
  .sing-up-page .name-side {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 105px;
    width: 417px;
  }
  
  .sing-up-page .name {
    letter-spacing: 0;
    margin-left: 18px;
    min-height: 34px;
    min-width: 84px;
    text-align: center;
  }
  
  .sing-up-page .name-holder {
    background-color: #00000012;
    border: 4px solid;
    border-color: var(--coconut);
    border-radius: 20px;
    height: 57px;
    margin-top: 14px;
    width: 415px;
  }
  
  .sing-up-page .e-mail {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-height: 97px;
    width: 417px;
  }
  
  .sing-up-page .e-mail-1 {
    letter-spacing: 0;
    margin-left: 10px;
    min-height: 34px;
    text-align: center;
    width: 119px;
  }
  
  .sing-up-page .e-mail-holder {
    background-color: var(--black-2);
    border: 4px solid;
    border-color: var(--coconut);
    border-radius: 20px;
    height: 57px;
    margin-top: 6px;
    width: 415px;
  }
  
  .sing-up-page .password-container {
    height: 103px;
    margin-top: 14px;
    position: relative;
    width: 415px;
  }
  
  .sing-up-page .password {
    left: 6px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 161px;
  }
  
  .sing-up-page .password-holder {
    height: 58px;
    left: 0;
    position: absolute;
    top: 45px;
    width: 415px;
  }
  
  .sing-up-page .by-clicking-on-sign {
    height: 49px;
    letter-spacing: 0;
    margin-top: 87px;
    text-align: center;
    width: 506px;
  }
  
  .sing-up-page .span1 {
    text-decoration: underline;
  }
  
  .sing-up-page .button-join {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    margin-left: 2.0px;
    margin-top: 61px;
    min-width: 234px;
  }
  
  .sing-up-page .overlap-group2 {
    align-items: flex-start;
    background-color: var(--lightning-yellow);
    border-radius: 10px;
    display: flex;
    min-width: 232px;
  }
  
  .sing-up-page .sign-up {
    height: 70px;
    letter-spacing: 0;
    text-align: center;
    width: 232px;
  }
  
  .sing-up-page .footer {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    height: 30px;
    margin-top: 71px;
    min-width: 741px;
  }
  
  .sing-up-page .about-us {
    cursor: pointer;
    letter-spacing: 0;
    min-height: 30px;
    min-width: 90px;
    text-align: center;
  }
  
  .sing-up-page .place {
    cursor: pointer;
    letter-spacing: 0;
    margin-left: 55px;
    min-height: 30px;
    min-width: 82px;
  }
  
  .sing-up-page .learn-more {
    letter-spacing: 0;
    margin-left: 65px;
    min-height: 30px;
    min-width: 114px;
  }
  
  .sing-up-page .instagram {
    letter-spacing: 0;
    margin-left: 55px;
    min-height: 30px;
    min-width: 105px;
  }
  
  .sing-up-page .facebook {
    letter-spacing: 0;
    margin-left: 67px;
    min-height: 30px;
  }
  
  .sing-up-page .flex-col-2 {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 144px;
    min-height: 1002px;
    width: 467px;
  }
  
  .sing-up-page .place-1 {
    cursor: pointer;
    height: 53px;
    letter-spacing: 0;
    text-align: center;
    width: 220px;
  }
  
  .sing-up-page .copy-right {
    align-self: flex-end;
    letter-spacing: 0;
    margin-top: 772px;
    min-height: 26px;
    text-align: center;
    transform: rotate(-90.00deg);
    width: 294px;
  }
  
  .sing-up-page .rectangle-5 {
    align-self: center;
    height: 121px;
    margin-right: 80.0px;
    margin-top: 30px;
    mix-blend-mode: darken;
    width: 167px;
  }
  