/* screen - songs */

.songs {
    align-items: center;
    background-color: #fbfbfb;
    border: 1px none;
    display: flex;
    flex-direction: column;
    height: 1117px;
    padding: 74px 81px;
    width: 1728px;
  }
  
  .songs .flex-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 18.0px;
    margin-top: 16px;
    min-height: 427px;
    width: 1516px;
  }
  
  .songs .flex-row {
    align-items: center;
    display: flex;
    min-width: 1516px;
  }
  
  .songs .overlap-group3 {
    height: 108px;
    position: relative;
    width: 425px;
  }
  
  .songs .header {
    height: 108px;
    left: 0;
    position: absolute;
    top: 0;
    width: 213px;
  }
  
  .songs .place {
    cursor: pointer;
    height: 53px;
    left: 205px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 19px;
    width: 220px;
  }
  
  .songs .overlap-group2 {
    border-radius: 20px;
    height: 68px;
    margin-bottom: 18.0px;
    margin-left: 556px;
    position: relative;
    width: 326px;
  }
  
  .songs .rectangle-11 {
    height: 35px;
    left: 18px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 48px;
  }
  
  .songs .search-button {
    background-color: var(--black-2);
    border: 4px solid;
    border-color: var(--coconut);
    border-radius: 20px;
    height: 68px;
    left: 0;
    position: absolute;
    top: 0;
    width: 326px;
  }
  
  .songs .button-join {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 63px;
    margin-bottom: 21.0px;
    margin-left: 36px;
    min-width: 173px;
  }
  
  .songs .overlap-group1 {
    height: 64px;
    margin-top: -1px;
    position: relative;
    width: 173px;
  }
  
  .songs .rectangle-1 {
    background-color: var(--razzmatazz);
    border: 1px solid;
    border-color: var(--white);
    border-radius: 10px;
    height: 61px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 169px;
  }
  
  .songs .log-in {
    -webkit-text-stroke: 1px var(--white);
    height: 61px;
    left: 1px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 169px;
  }
  
  .songs .button-join-1 {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 63px;
    left: 0;
    min-width: 173px;
    position: absolute;
    top: 1px;
  }
  
  .songs .overlap-group {
    height: 64px;
    margin-top: -1px;
    position: relative;
    width: 170px;
  }
  
  .songs .account {
    -webkit-text-stroke: 1px var(--white);
    height: 61px;
    left: 1px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 169px;
  }
  
  .songs .flex-row-1 {
    align-items: flex-start;
    display: flex;
    margin-right: 10.0px;
    margin-top: 119px;
    min-width: 1346px;
  }
  
  .songs .rectangle-12 {
    height: 200px;
    object-fit: cover;
    width: 200px;
  }
  
  .songs .rectangle-13 {
    height: 200px;
    margin-left: 85px;
    object-fit: cover;
    width: 200px;
  }
  
  .songs .rectangle-1-1 {
    height: 200px;
    margin-left: 87px;
    object-fit: cover;
    width: 200px;
  }
  
  .songs .flex-row-2 {
    align-items: flex-start;
    display: flex;
    height: 380px;
    margin-right: 2.0px;
    margin-top: 9px;
    min-width: 1364px;
  }
  
  .songs .flex-row-3 {
    align-items: flex-start;
    align-self: flex-end;
    display: flex;
    height: 378px;
    min-width: 793px;
  }
  
  .songs .flex-row-4 {
    align-items: flex-start;
    display: flex;
    height: 376px;
    min-width: 512px;
  }
  
  .songs .flex-col-1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    min-height: 360px;
    width: 224px;
  }
  
  .songs .your-favorites {
    height: 41px;
    letter-spacing: 0;
    text-align: center;
    width: 214px;
  }
  
  .songs .rectangle-17 {
    align-self: center;
    height: 200px;
    margin-left: 4.0px;
    margin-top: 75px;
    object-fit: cover;
    width: 200px;
  }
  
  .songs .new-realease-mix {
    letter-spacing: 0;
    margin-left: 4px;
    margin-top: 11px;
    min-height: 33px;
    text-align: center;
    width: 220px;
  }
  
  .songs .flex-col-2 {
    align-items: center;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    min-height: 366px;
    width: 218px;
  }
  
  .songs .todays-top-hits {
    height: 46px;
    letter-spacing: 0;
    margin-right: 9.0px;
    text-align: center;
    width: 193px;
  }
  
  .songs .rectangle-18 {
    height: 200px;
    margin-right: 8.0px;
    margin-top: 60px;
    object-fit: cover;
    width: 200px;
  }
  
  .songs .energy-mix {
    letter-spacing: 0;
    margin-top: 11px;
    min-height: 49px;
    text-align: center;
    width: 218px;
  }
  
  .songs .flex-col-3 {
    align-items: center;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 66px;
    min-height: 368px;
    width: 215px;
  }
  
  .songs .latino-american-hits {
    height: 51px;
    letter-spacing: 0;
    text-align: center;
    width: 215px;
  }
  
  .songs .rectangle-19 {
    height: 200px;
    margin-left: 1.0px;
    margin-top: 55px;
    object-fit: cover;
    width: 200px;
  }
  
  .songs .discover {
    letter-spacing: 0;
    margin-top: 11px;
    min-height: 51px;
    text-align: center;
    width: 215px;
  }
  
  .songs .flex-col-4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 63px;
    min-height: 376px;
    width: 242px;
  }
  
  .songs .all-time-classics {
    height: 48px;
    letter-spacing: 0;
    margin-left: 8.0px;
    text-align: center;
    width: 234px;
  }
  
  .songs .rectangle-20 {
    height: 200px;
    margin-right: 12.0px;
    margin-top: 70px;
    object-fit: cover;
    width: 200px;
  }
  
  .songs .all-about-2010s {
    letter-spacing: 0;
    margin-right: 7.0px;
    margin-top: 14px;
    min-height: 44px;
    text-align: center;
    width: 235px;
  }
  
  .songs .flex-col-5 {
    align-items: flex-end;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: 46px;
    margin-top: 3.0px;
    min-height: 359px;
    width: 220px;
  }
  
  .songs .work-out-playlist {
    align-self: center;
    height: 41px;
    letter-spacing: 0;
    margin-left: 11.0px;
    text-align: center;
    width: 191px;
  }
  
  .songs .rectangle-21 {
    height: 200px;
    margin-right: 4px;
    margin-top: 65px;
    object-fit: cover;
    width: 200px;
  }
  
  .songs .mega-hit-mix {
    letter-spacing: 0;
    margin-top: 11px;
    min-height: 42px;
    text-align: center;
    width: 220px;
  }
  
  .songs .flex-row-5 {
    align-items: center;
    align-self: flex-end;
    display: flex;
    margin-top: 16px;
    min-width: 1063px;
  }
  
  .songs .footer {
    align-items: flex-start;
    display: flex;
    height: 31px;
    margin-top: 32.0px;
    min-width: 573px;
  }
  
  .songs .about-us {
    cursor: pointer;
    letter-spacing: 0;
    min-height: 30px;
    min-width: 90px;
    text-align: center;
  }
  
  .songs .place-1 {
    align-self: flex-end;
    cursor: pointer;
    letter-spacing: 0;
    margin-left: 65px;
    min-height: 30px;
    min-width: 82px;
  }
  
  .songs .instagram {
    align-self: flex-end;
    letter-spacing: 0;
    margin-left: 67px;
    min-height: 30px;
    min-width: 105px;
  }
  
  .songs .facebook {
    letter-spacing: 0;
    margin-left: 58px;
    min-height: 30px;
  }
  
  .songs .rectangle-6 {
    height: 121px;
    margin-left: 323px;
    mix-blend-mode: darken;
    width: 167px;
  }
  