:root { 
    --black: #000000;
    --black-2: #00000014;
    --coconut: #fbfcfe;
    --lightning-yellow: #ffc01e;
    --pelorous: #43a8be;
    --razzmatazz: #ee2269;
    --white: #ffffff80;
    --white-2: #ffffff;
   
    --font-size-l: 25px;
    --font-size-m: 24px;
    --font-size-s: 20px;
    --font-size-xl: 30px;
    --font-size-xs: 16px;
    --font-size-xxl: 32px;
    --font-size-xxxl: 40px;
   
    --font-family-poppins: "Poppins", Helvetica;
    --font-family-port_lligat_sans: "Port Lligat Sans", Helvetica;
  }
  .poppins-normal-razzmatazz-20px {
    color: var(--razzmatazz);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
  }
  
  .poppins-medium-coconut-32px {
    color: var(--coconut);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 500;
  }
  
  .poppins-normal-black-30px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 400;
  }
  
  .poppins-bold-black-25px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
  }
  
  .poppins-normal-lightning-yellow-20px {
    color: var(--lightning-yellow);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
  }
  
  .poppins-normal-black-24px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
  }
  
  .portlligatsans-normal-black-32px {
    color: var(--black);
    font-family: var(--font-family-port_lligat_sans);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
  }
  
  .poppins-normal-black-40px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xxxl);
    font-style: normal;
    font-weight: 400;
  }
  
  .poppins-semi-bold-razzmatazz-35px {
    color: var(--razzmatazz);
    font-family: var(--font-family-poppins);
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
  }
  
  .poppins-medium-black-25px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 500;
  }
  
  .poppins-semi-bold-black-25px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 600;
  }
  
  .poppins-normal-black-16px {
    color: var(--black);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
  }
  
  .poppins-normal-coconut-25px {
    color: var(--coconut);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
  }
  
  .poppins-normal-white-20px {
    color: var(--white);
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
  }